<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #custom_layout#  #category# "
      style="min-height: 230px;min-width:230px; position: relative; width:#width#; height:#height#;
             background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
      data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-nahome_id="#nahomeid#" data-cat_color="#catcolore#" 
      data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
   
  <link rel="stylesheet" nonce="" href="plugins/naEnergie/core/template/dashboard/src/naEnergie.css">     
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span>
  <center class="widget-name">
        <div class="cmd naboilerstatus #therm_boilerstatus_history#" title="Chaudière arrêtée"
             style="position:absolute; left:3px; top:5px;" data-cmd_id='#therm_boilerstatus_id#'>
	<span class="icon jeedom-feu" style="" ></span>
</div>
    
    
    
		
		<!--<span class="cmd anticipation pull-left cursor" title="Pas d'anticipation en cours"  data-cmd_id='#heatstatus_id#' 
                 style="margin-top: 5px; margin-left: 3px;color:#3498db !important;">
			<i class="icon jeedomapp-playerplay "></i>
		</span>	
-->
          
      	<span class="reportModeVisible" style="display:none">#object_name#</span>
		<a href="#eqLink#" class="reportModeHidden" style="margin-right: 25px;">#name_display# </a>
</center> 
  <script type="text/javascript">
	
	$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
		jeedom.cmd.execute({id: '#refresh_id#'});
    });
	$('.eqLogic[data-eqLogic_uid=#uid#]').ready(function(el) { 
		catcolor = $('.eqLogic[data-eqLogic_uid=#uid#] .widget-name').css('background-color');
		$('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').attr('data-cat_color', catcolor);				
		eq_width = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').css('width');
		eq_height = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').css('height');
		cat_color = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').attr('data-cat_color');
		if ('#deviceName#' != '' ) {
        	$('.eqLogic[data-eqLogic_uid=#uid#] .wname').append(' - #deviceName#');
        }
     	if ('#etat#' == 1) {
        	$('.eqLogic[data-eqLogic_uid=#uid#] .icon_etat').css('color', cat_color + '!important');
        }
    });
	$('.eqLogic[data-nahome_id=#nahomeid#]').each(function() {
		console.log('each:' + $(this).find('.room').attr('class') );
    });
	</script>
	<section> 	
        <span class="cmd cmd-widget" data-cmd_id="#homeAuto_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#roomAuto_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setoff_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setaway_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#sethg_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#setmax_id#" style="display:none;"></span>
      	<span class="cmd cmd-widget" data-cmd_id="#planningset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#refreshall_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#consigneset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#dureeset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#offset_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#writedata_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#homeboost_id#" style="display:none;"></span>
	</section>
	<link href="plugins/migoThermostat/core/template/dashboard/bootstrap-slider.css" rel="stylesheet">

  
  <div class="eq_body">
 
<center>
    <!-- ******* test <span class="consdec decimal" style="left:24px;">0</span>************  -->
	<div class="room therm-room " data-thmode="">
		<div class="room-temperature h-relative">
          	<div class="naModeinfos" data-cmd_id="#consigne_id#">
              <!--<i class="fas fa-wrench"></i>
              <i class="fas fa-home"></i>-->
				<!--<a class="namode na-icon-manualb" data-cmd_id="#cancel_id#"></a>-->
				<a class="natendance na-icon-manuala " data-cmd_id="#natendance_id#"></a>
        		

			</div>
      	
			<span class="top h-absolute "></span>
			<span class="right h-absolute "></span>
			<span class="bottom h-absolute "></span>
			<span class="left h-absolute "></span>
			<span class="hide natemp#id#">#temperature#</span>
			<span class="cmd-widget #temperature_history# tempent" data-type="info" data-cmd_id="#temperature_id#">
               <span class="tempdec decimal"></span>
          	</span>
		</div>
      	<div class="room-setpoint h-relative">
			<span class="top h-absolute" ></span>
			<span class="right h-absolute" ></span>
			<span class="bottom h-absolute"></span>
			<span class="left h-absolute"></span>
            <span class="hide nacons#id#">#consigne#</span>
			<span class="cmd-widget #consigne_history# consent" data-type="info" data-cmd_id="#consigne_id#">
              <span class="consdec decimal"></span>
            </span>
			<div class="nacontrol left h-absolute" data-cmd_id="#consigneset_id#">
				<i class="cmd-widget icon fas fa-2x fa-plus-square na_cons_up " data-type="action"> </i>
                <br>
          		<i class="cmd-widget icon fas fa-2x fa-minus-square na_cons_down " data-type="action" ></i>
                
			</div>
      		<div class="naconsinfo">
				<i class="icon fas fa-times cancel tooltips"  style="display:none;"> </i>
              	<i class="on tooltips" title="Chaudière On"> </i>
              	<i class="anticipation tooltips" title="Anticipating"> </i>
              	<i class="off tooltips" title="Off"> </i>
			</div>
		</div>
		
	</div>
  
 	<!-- *******************  -->
							
<script>
	var consigne = 	$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html();//'#consigne#';
	var temperature = $('.eqLogic[data-eqLogic_uid=#uid#] .natemp#id#').html();//'#temperature#';         
	
  	$('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_up').on('click', function () {
		var oldCons = 	$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html();//'#consigne#';
		var newCons = parseFloat(oldCons) + 0.5;
		//console.log('Cons+: ' +oldCons +' to '+ newCons);
      	if(newCons > 7 && newCons <= 30) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html(newCons);/*.trigger('change');*/
			consigneent = Math.trunc(newCons);
			consignedec = Math.round((newCons-consigneent)*10);
        	$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html(consigneent+'<span class="consdec decimal"></span>');
          	$('.eqLogic[data-eqLogic_uid=#uid#] .consdec').empty().html(consignedec);
        
          	var cmd = $(this).parent().attr('data-cmd_id');
        
        	jeedom.cmd.execute({id: cmd, value: {'slider': newCons}});
          	
        }
      	else if (newCons >= 30) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html("Max");
          	var cmd = $(this).parent().attr('data-cmd_id');
        	jeedom.cmd.execute({id: cmd, value: {'slider': newCons}});
		}
	});
	/////////////---------//////////
  	$('.eqLogic[data-eqLogic_uid=#uid#] .na_cons_down').on('click', function () {
		var oldCons = 	$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html();//'#consigne#';
		var newCons = parseFloat(oldCons) - 0.5;
		//console.log('Cons-: ' +oldCons +' to ' + newCons);
      
		if(newCons > 7 && newCons <= 30) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html(newCons);
			consigneent = Math.trunc(newCons);
			consignedec = Math.round((newCons-consigneent)*10);
        	$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html(consigneent+'<span class="consdec decimal"></span>');
          	$('.eqLogic[data-eqLogic_uid=#uid#] .consdec').empty().html(consignedec);
        
          	var cmd = $(this).parent().attr('data-cmd_id');
        	//console.log('cmd: ' + cmd);
        	jeedom.cmd.execute({id: cmd, value: {'slider': newCons}});
          
        }
      	else if (newCons <= 7) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html("OFF");
          	var cmd = $(this).parent().attr('data-cmd_id');
        	jeedom.cmd.execute({id: cmd, value: {'slider': newCons}});
        }
      	 
          
	});

			 
    $('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').on('change', function () {
		/*updateconsinfos*/
          
	});          
	function updateconsinfos() {
		//console.log('na_cons changed')                                                
		//consigne = 	$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html();
		var consigne = 	$('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html();//'#consigne#';
      	//console.log('updateconsinfos: na_cons changedto: ' + consigne);
		consigneent = Math.trunc(consigne);
		//console.log('updateconsinfos: consigneent: ' + consigneent);
		consignedec = Math.round((consigne-consigneent)*10);
		//console.log('updateconsinfos: consignedec: ' + consignedec);
		if (consigne < 7) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html("OFF");
        }else if (consigne > 30) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html("Max");
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .consent').html(consigneent+'<span class="consdec decimal"></span>');
          	$('.eqLogic[data-eqLogic_uid=#uid#] .consdec').empty().html(consignedec);
		}
		
		
	}
	
	function updatetempinfos() {
      	var temperature = $('.eqLogic[data-eqLogic_uid=#uid#] .natemp#id#').html();//'#temperature#'; 
		var temperatureent = Math.trunc(temperature);
		var temperaturedec = Math.round(temperature*10-temperatureent*10);
		if (temperature < 10) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .tempent').html("0"+temperatureent + '<span class="tempdec decimal"></span>');
		} else {
			$('.eqLogic[data-eqLogic_uid=#uid#] .tempent').html(temperatureent + '<span class="tempdec decimal"></span>');
		}
		//$('.eqLogic[data-eqLogic_uid=#uid#] .consdec').empty().html(consignedec);
		$('.eqLogic[data-eqLogic_uid=#uid#] .tempdec').empty().text(temperaturedec);
	}
          
		
	
	jeedom.cmd.update['#id#'] = function(_options) {
		updatetempinfos();
    	updateconsinfos();
    }
	jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  
  </script>	
    
    
</center> 
      
      
<!--*******Pan_one*****************************************************-->
<div class="na_Infos_#uid# Pan_one">
<!-- *********************  -->   
	<div class="cmd cmd-widget zprofil" style="margin-left: 5px; margin-top: 5px;"></div>
     <br>
<!-- *********************  -->
    <div class="cmd cmd-widget zplanning tooltips" style="margin-left: 5px; margin-top: 5px;" title="Planning"></div>
  
  
<!-- *********************  -->
  	<div class="planningset_#id#" style="display:none" >
		<div class="cmd cmd-widget naplaningcmd" data-type="info" data-subtype="string" 
         data-cmd_id="#planningset_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#">
         
             <div class="dropdown drop_naplaning" >
				<span class="cmdName">Planning en cours: </span>
				<a class="dropdown-toggle cmd-widget" data-type="action" data-toggle="dropdown" 
                   aria-haspopup="true" data-type="action" data-subtype="select" 
                   data-cmd_id="#planningset_id#" data-version="#version#"  title="Planning"
                   aria-expanded="false">#nowplanning# 
                   <span class="hidden-sm hidden-md"></span>
                   <span class="caret" style="display:none;"></span>
				</a>
				<!--<div class="dropdown-menu naPlanningmenu" role="menu">#planning_selector#</div>_listValue#-->
               <div class="dropdown-menu naPlanningmenu" role="menu">#planningset_listValue#</div>
			</div>
			<script>
            $('.eqLogic[data-eqLogic_uid=#uid#] .drop_naplaning').on("show.bs.dropdown", function(event){
				//event.stopPropagation();
				//event.preventDefault();
				var dropMenu = $(event.target).find('.dropdown-menu');
				var cible = $(event.target).find('.dropdown-toggle');
				var eOffset= cible.offset();
				$('body').append(dropMenu.detach());
				dropMenu.css({
					'display': 'block',
					'width': '100px',
					//'top': eOffset.top + cible.outerHeight(),
					// 'left': eOffset.left,
					//'position': 'static'
				});
				dropMenu.position({                           
					'my': 'left top',                            
					'at': 'left bottom',                         
					'of': cible                      
				});
				$(event.target).on('hide.bs.dropdown', function (event) {
					cible.append(dropMenu.detach());
					dropMenu.hide();
                });
			});
	////////////////////////////
			el = document.documentElement;
			cat="--cat-#category#-color";
			var catcol = getComputedStyle(el).getPropertyValue(cat);
			opacit = getComputedStyle(el).getPropertyValue("--opacity");
			colorcat = 'rgba(' + catcol + ', ' + opacit + ')';
						
			$('.eqLogic[data-eqLogic_uid=#uid#] .naPlanningmenu option').on('click', function() {
				if(this.text != '#nowplanning#'){
					console.log('pl: ' + $(this).value())
                  	jeedom.cmd.execute({id: '#planningset_id#', value: {'select': $(this).value()}});
				}
			});
				
		</script>	
		
	</div> 	
	</div>
<br/>   	
<!-- *********************  -->
  <center>
<div class="tooltips cmd cmd-widget " data-type="info" data-subtype="string" data-cmd_id="#requestOn_id#" data-cmd_uid="cmd_#requestOn_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="margin-right: 15px; margin-top: 5px;">
	<div class="content-xs">
		<span class="cmdName">requestOn: </span> 
		<strong class="state">#requestOn#</strong>
	</div>
</div> 
 
  <!-- *********************  -->
<div class="tooltips cmd cmd-widget " data-type="info" data-subtype="string" data-cmd_id="#open_window_id#" data-cmd_uid="cmd_#open_window_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="margin-left: 15px; margin-top: 5px;">
            <div class="content-xs">
                <span class="cmdName">open_window: </span> 
                <strong class="state">#open_window#</strong>
            </div>
</div> 
<br/>
  <!-- *********************  -->
<div class="tooltips cmd cmd-widget " data-type="info" data-subtype="string" data-cmd_id="#home_modetech_id#" data-cmd_uid="cmd_#home_modetech_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="margin-left: 5px; margin-top: 5px;">
            <div class="content-xs">
                <span class="cmdName">Home mode: </span> 
                <strong class="state">#home_modetech#</strong>
            </div>
</div>
 <br/>
  <!-- *********************  -->
 <div class="tooltips cmd cmd-widget " data-type="info" data-subtype="string" data-cmd_id="#boiler_anticipating_id#" data-cmd_uid="cmd_#boiler_anticipating_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="margin-right: 15px; margin-top: 2px;">
            <div class="content-xs">
                <span class="cmdName">boiler_anticipating: </span> 
                <strong class="state">#boiler_anticipating#</strong>
            </div>
</div> 

<!-- *********************  -->
 <div class="tooltips cmd cmd-widget " data-type="info" data-subtype="string" data-cmd_id="#boiler_status_id#" data-cmd_uid="cmd_#boiler_status_id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="margin-left: 15px; margin-top: 2px;">
            <div class="content-xs">
                <span class="cmdName">boiler_status: </span> 
                <strong class="state">#boiler_status#</strong>
            </div>
</div> 

<script>
			
					
			if ('#room_modetech#' == 'away') {//away;hg;max;schedule;off;manuel, datetimepicker, awaypicker
				$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'away');
				$('.eqLogic[data-eqLogic_uid=#uid#] .away').css('color', 'white');
              	var htmlaway ='<i class="fas fa-times-circle cancelaway cursor tooltips" style="margin-left: 0px;color:blue !important"></i>';
              		htmlaway += '   <strong class="state" title="Profile en cours">Absent</strong>'
              		htmlaway += '  <i class="fas fa-arrow-right" style="" title=""></i> ';
              		htmlaway += '<span class=" natimepicker cursor tooltips" data-mode="away" title="Choisir Fin..." style="margin-left: 0px"> #setpointmode_endtime#</span>';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(htmlaway);
			} 
         	else if ('#room_modetech#' == 'hg') {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'hg');
				profile ='';
                profile += '<span class="fas fa-times-circle cancelhg cursor tooltips" title="Désactiver le mode HG" style="margin-left: 0px;color:red !important"></span>';
				profile += '   <strong class="state" title="Profile en cours">Hors-gel</strong> <i class="fas fa-arrow-right"></i> ';
				profile += '<span class="natimepicker cursor tooltips" data-mode="hg" title="Choisir Fin" style="margin-left: 0px"> #setpointmode_endtime#</span>';
                $('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
						
			} 
         	else if ('#room_modetech#' == 'schedule') {
                $('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'schedule');
				profile ='';
                profile +='<strong class="state" title="Profile en cours">#nowprofil#</strong>';
              	profile +=' <i class="fas fa-arrow-right"></i> #setpointmode_endtime# - ';
              	profile +='#nextprofil#';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
				planning = '';
              	planning += $('.eqLogic[data-eqLogic_uid=#uid#] .planningset_#id#').html();
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zplanning').empty().html(planning);
                //$('.eqLogic[data-eqLogic_uid=#uid#] .planning').css('display', 'block');
			} 
         	else if ('#room_modetech#' == 'off') {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room').attr('data-thmode', 'off');
				$('.eqLogic[data-eqLogic_uid=#uid#] .off').css('color', 'white');
              	profile = '<span class="fas fa-power-off on cursor tooltips" title="Allumer le Thermostat" style=""></span>';
				profile += ' <strong class="state" title="Profile en cours">Le Thermostat est éteint</strong>';
              	$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naModeinfos').addClass("hide");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .nacontrol').addClass("disabled");
				
              
            } 
         	else if ('#room_modetech#' == 'manual'){//if ('#modetech#' == 'manual')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-thmode', 'manual');
              	profile ='';
                profile +='<i class="fa techno-fingerprint41 manoff cursor tooltips" title="Désactiver le mode Manuel" style="font-size: 1em;margin-left: 0px;color:red !important"></i> ';
				profile +='  <strong class="state" >Manuel </strong><i class="fas fa-arrow-right"></i> ';
				profile +='<i class="natimepicker cursor tooltips" data-mode="manual" title="Choisir Fin" style="margin-left: 0px"> #setpointmode_endtime#</i>';
                $('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').empty().html(profile);
				//$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').css('display', 'block');
			}
			$('.eqLogic[data-eqLogic_uid=#uid#] .manoff').on('click', function(){
				//jeedom.cmd.execute({id: '#manoff#', value: {'manoff': 'false'}});
              	jeedom.cmd.execute({id: '#roomAuto_id#'});
			});		////Mode manuel Off
						
			$('.eqLogic[data-eqLogic_uid=#uid#] .cancelhg').on('click', function(){
              //console.log("cancelhg")
				jeedom.cmd.execute({id: '#homeAuto_id#'});
              	//jeedom.cmd.execute({id: '#roomAuto_id#'});
			});
        	
						
			$('.eqLogic[data-eqLogic_uid=#uid#] .away').on('click', function () {
                jeedom.cmd.execute({id: '#setaway_id#'});
            });
                   
			$('.eqLogic[data-eqLogic_uid=#uid#] .hg').on('click', function () {
                 jeedom.cmd.execute({id: '#sethg_id#'});
            });
                   
			$('.eqLogic[data-eqLogic_uid=#uid#] .roomAuto').on('click', function () {
            	jeedom.cmd.execute({id: '#roomAuto_id#'});
            });
            $('.eqLogic[data-eqLogic_uid=#uid#] .homeAuto').on('click', function () {
            	jeedom.cmd.execute({id: '#homeAuto_id#'});
            });
			$('.eqLogic[data-eqLogic_uid=#uid#] .off').on('click', function () {
                jeedom.cmd.execute({id: '#setoff_id#'});
            });		
			$('.eqLogic[data-eqLogic_uid=#uid#] .canceloff').on('click', function(){
				jeedom.cmd.execute({id: '#homeAuto_id#'});
              	//jeedom.cmd.execute({id: '#roomAuto_id#'});
			});
  			$('.eqLogic[data-eqLogic_uid=#uid#] .cancelaway').on('click', function(){
				jeedom.cmd.execute({id: '#homeAuto_id#'});
              	//jeedom.cmd.execute({id: '#roomAuto_id#'});
			});
  			
  			if ('#room_anticipating#' == 1) {
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', 'anticip');
            }
  			if ('#therm_anticipating#' == 1) {
                $('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr("style","color:#c37d28!Important;");
				$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","Anticipation en cours");
            }else if ('#therm_boilerstatus#' == 1 || parseFloat('#consigne#') > parseFloat('#temperature#')) {
  				//console.log('therm_boilerstatus: ' + '#therm_boilerstatus#')
              	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', 'on');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","En chauffe");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr("style","color:red!Important;");
              
            }else{
            	$('.eqLogic[data-eqLogic_uid=#uid#] .room' ).attr('data-boilerstate', '');
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus .icon').attr("style","color:;");
              	$('.eqLogic[data-eqLogic_uid=#uid#] .naboilerstatus').attr("title","Chaudière arrêtée");
            }
  
  
  
  

$.datetimepicker.setLocale('fr');

	$('.xdsoft_datepicker').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
	$('.xdsoft_time_variant').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
	$('.xdsoft_datetimepicker').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
	$('.xdsoft_time_box').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
	$('.xdsoft_time').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important'); 
    

$('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker').datetimepicker();

$('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker').off('click').on('click', function () {
 	 var mode = $(this).attr('data-mode');
  	//console.log( "datepicker1 started");
    $('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker').datetimepicker('setOptions',  {
						//var mode =$(this).attr('class'),
						//timepicker:false,
                  		//mode1 : $(this).attr('class'),
  						step: 15,
						//theme:'dark',
						startDate: '0',
						minDate: '0',
						maxDate:'+1971/01/02',
						todayButton:'true',
                      	//minTime: '0',
						//format:	'd/m/Y H:i',
						//formatDate:	'd/m/Y',
						//onChangeDateTime
  						
						
					});
  	$('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker').datetimepicker('show');
  	$('.eqLogic[data-eqLogic_uid=#uid#] .natimepicker').datetimepicker({
  		onSelectTime:function(dp,$input){
                        	//console.log('mode0: ' + dp.parent().attr('data-mode')) 
                             console.log('onSelect0: ' + mode);
							 console.log('dp: ' + $input.val());
                          		//val()
                             //console.log('dp.text: ' + dp.text())
                             //onChangeDateTime:function(dp,$input){
							 //jeedom.cmd.execute({id: '#dureeset_id#', value: {'message': $input.val()}});
          					jeedom.cmd.execute({id: '#dureeset_id#', value: {'title': mode, 'message': $input.val()}});
						}
	});
});


</script>
      
      
	 </center>
           <!--
          	<div class="tooltips cmd cmd-widget #motionState_history#" data-type="info" data-subtype="binary" data-cmd_id="#motionState_id#" data-cmd_uid="cmd#motionState#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #motionState_collectDate#">
                <div class="content-xs">
                    <span   class="cmdName">motion State: </span> 
                    <strong class="state value#motionState_id#"> #motionState#</strong>
                  <span class="icon jeedom-mouvement"> </span>
                  
                </div>
			</div> 
         
-->
</div><!-- ********fin Pan_two *********-->
<div class="na_Infos_#uid# Pan_two" style="display : none;">
						

  

     
    <center>
        <div class="vtmode" style="width: 200px;">
                <style>
                            .eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod .active  {
                                background: #92d42f;
                                /*text: ('llo');*/
                                height: 20px;
                            }
                            .slidermod .ui-slider-handle {
                                /*background: #3498db;
                                #width: 36px;
                                #height: 20px;
                                #top: -1px;
                                margin-left: -20px;
                                #border-style:none;
                                #font-color: #43c435;
                                #font-weight: bold;*/
                            }
                        </style>
       
          
          
          
          <div id="slidermod" class="slidermod ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                     style="z-index: 3;width: 148px;right: 18px;">
                   <a class="btn btn-xs ui-slider-handle ui-state-default ui-corner-all" style="background-color: rgb(46, 98, 138) !important;float: center; margin-top: 11px; left: 0%; width: 50px; heigth: 20px" tabindex="0">Auto</a>
          </div>
				
                <div class="btn-group boilmode" style="float: center;z-index: 0;" role="group" >
                  
                  <a class="btn_boilmod btn btn-xs action tooltips btnschedule" data-cmd_id="#homeAuto_id#" 
                       data-modetech="schedule" title="Mode hg" style="width: 50px !important;" >Auto</a>

                  <a class="btn_boilmod btn btn-xs action tooltips btnhg" data-cmd_id="#sethg_id#" 
                       data-modetech="hg" title="Mode hg" style="width: 50px !important;" >H.gel</a>

                    <a class="btn_boilmod btn btn-xs action tooltips btnaway" data-cmd_id="#setaway_id#" 
                       data-modetech="away" title="Mode away" style="width: 50px !important;">&nbsp;Absent&nbsp;</a> 

                    <a class="btn_boilmod btn btn-xs action tooltips btnoff" data-cmd_id="#setoff_id#" title="Mode Off" 
                       data-modetech="off" style="width: 50px !important;">&nbsp;Off&nbsp;</a> 

               <script>
                    var catcolor = $('.eqLogic[data-eqLogic_uid=#uid#]').attr('data-cat_color',);	
                         //catcolor_a = catcolor.replace(')', ', 0.5)').replace('rgb', 'rgba');
                        
                    $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod').off('click').on('click',	function() {
                         //jeedom.cmd.execute({id: $(this).attr('data-cmd_id')});	
                    });				 
                    if ('#home_modetech#'=='hg') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnhg').addClass('active');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').css('color', 'white');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').append('hg');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sphiver').css('font-weight', 'bold');
                    }
                 	else if ('#home_modetech#'=='away') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnaway').addClass('active');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').css('color', 'white');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').append('away');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .spete').css('font-weight', 'bold');
                    }
                 	else if ('#home_modetech#'=='off') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnoff').addClass('active');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').css('color', 'white');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').append('off');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .spoff').css('font-weight', 'bold');
                    } 
                 	else if ('#home_modetech#'=='schedule') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod.btnschedule').addClass('active');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').css('color', 'white');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').append('off');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .spoff').css('font-weight', 'bold');
                    }
                </script>
                </div>

                <script>
                    var hmodetechStep = ["schedule", "hg","away", "off"];
                  	var setmodeStep = ["roomAuto", "sethg","setaway", "setoff"];
                    var modenameStep = ["Auto","H.gel"," Absent ", " Off "];
                  	var index=hmodetechStep.indexOf('#home_modetech#');
					var sliderhandle = $(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").find(".ui-slider-handle");
					$(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").find(".ui-slider-handle").text(modenameStep[index]);
                    /*console.log("home_modetech index: "  + setmodeStep.indexOf('#home_modetech#'));*/
                    $(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").slider({
						//value:1,
						value: hmodetechStep.indexOf('#home_modetech#'),
						min: 0,
						max: 3,
						step: 1,
						slide: function(event, ui) {
							$(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").find(".ui-slider-handle").text(modenameStep[ui.value]);
                            $(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").find(".ui-slider-handle").attr('style', 'background-color: '+ catcolor + ' !important;float: center; margin-top: 11px; left: 0%; width: 50px; heigth: 20px');
						}
					});

					$(".eqLogic[data-eqLogic_uid=#uid#] .slidermod").on('slidestop', function (event,ui) {
						if(ui.value != parseInt(hmodetechStep.indexOf('#home_modetech#')) ){
							var listItems = $( ".eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod" ).slice( 1 );
                            var i= $( ".eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod" ).index( listItems );
                            var cl= $( ".eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod" ).slice(ui.value).attr('data-cmd_id');
                            console.log("i: "+ i );
                          	console.log("cl: "+ cl );
                          	jeedom.cmd.execute({id: cl});
                                  // jeedom.cmd.execute({id: $(this).attr('data-cmd_id')});
                                }
                            });
					$('.eqLogic[data-eqLogic_uid=#uid#] .btn_boilmod').off('click').on('click',	function() {
                         jeedom.cmd.execute({id: $(this).attr('data-cmd_id')});
                    });	
                        </script>   
        </div> 		

        
      
      
      
      
      
      
      <!--***************-->
	<div class="tablehome_cons_#uid#" style="width: 120px; margin-top:5px">
	<tr>       
		<td colspan="3" style="text-align: center;">
                <center>
              <div class="tooltips cmd cmd-widget #consigne_history#" data-type="info" data-subtype="numeric" data-cmd_id="#consigne_id#" data-cmd_uid="cmd#consigne_id#_#id#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #consigne_collectDate#">
                    <div class="content-xs">
                        <span   class="cmdName">Home Boost </span> 
                        <strong class="state value#homeboost_id#">  </strong>
                    </div>
                </div> 
                  </center>
         </td>
    </tr>

	<tr>
		<td style="width: 20px; text-align: left; font-size : 0.9em;">7</td>
		<td style="width: auto; text-align: center; font-size : 0.9em;">

          <div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="default" 
               data-cmd_id="#homeboost_id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#id#">

              <div class="content-xs">
                  <div class="slider" value="#consigne#" id="sliderdch">
                  <span  class="ui-slider-handle" id="custom-handle"></span>
                  </div>
              </div>
              <script>
              //$('.eqLogic[data-eqLogic_uid=#uid#] .refresh')
              $(".eqLogic[data-eqLogic_uid=#uid#] .slider.slider-horizontal").css('z-index',1);
              jeedom.cmd.update['#homeboost_id#'] = function(_options){
                  $(".cmd[data-cmd_id=#homeboost_id#] .slider").slider({
                      min: ('1' == '') ? 0 : parseInt('7'),
                      max: ('100' == '') ? 100 : parseInt('30'),
                      value: ('#consigne#' == '') ? 0 : parseInt(_options.display_value),
                      slide: function(event, ui) {
                    //$(".value#homeboost_id#").show()
                    $(".value#homeboost_id#").html(ui.value);
                    $('.eqLogic[data-eqLogic_uid=#uid#] .nacons#id#').html(ui.value);
                      updateconsinfos();
                  }
                  })
              }
              jeedom.cmd.update['#homeboost_id#']({display_value:'#consigne#'});

              $(".eqLogic[data-eqLogic_uid=#uid#] .slider").on('slidestop', function (event,ui) {
                  if(ui.value != '#consigne#'){
                      var cmd = $(this).parents('.cmd').attr('data-cmd_id');
                      console.log('cmdp: ' + cmd);
                      jeedom.cmd.execute({id: cmd, value: {'slider': ui.value}});

                    console.log('slidestop' + ui.value )
                    //jeedom.cmd.execute({id: '#homeboost_id#', value: {slider: ui.value}});
                  }                    
                //$(".value#homeboost_id#").hide();
              });
            </script> 

          </div>                     
		</td>

		<td style="width: 20px; text-align: right; font-size : 0.9em;">30<br></td>
	</tr>
	</div> 

        

    <!-- background-color: #586576 !important;<div class="na_comState" style="margin-left: 5px;margin-top:5px;margin-bottom:5px">
    -->
  <div class="scrolldiv na_comState" style="width: 100%; max-height:40px; margin-left: 0px; margin-right: 5px;
		 overflow: auto;">
    
    
  
   <script>
 var eqmodules = #eqmodules#;
$.each( eqmodules , function( key, module ) {
  console.log( "key", key, "module", module );
  console.log("name: ", module['name'] );
  
});

 var batteryar = {
        full:'full',
        high:'full',
        medium:'half',
        low:'quarter',
        very_low: 'empty very_low'
}; 
var extext ='';
     var nbeq = Object.keys(eqmodules).length;
for (i = 0; i <= eqmodules.length; i++) {
    if(eqmodules[i]){
		extext +='<div class="content-xs" style="margin-left: 5px">';
		extext +='<span class="cmdName " >'+eqmodules[i].name+ '</span>';
		extext +='<i class="fas fa-battery-'+batteryar[eqmodules[i].battery_state] +' #batterie_history# tooltips" data-cmd_id="25" style="padding-left:16px;" title="'+eqmodules[i].battery_state+'"> </i>';
  		
      	extext += ' <i class="icon jeedom2-fdp1-signal5 '+eqmodules[i].rfpower+' #rfstatus_history# tooltips" data-cmd_id="25" style="padding-left:6px;font-size : 1.1em;" title="'+eqmodules[i].rfpower+'"></i></div>';
    		
      
      console.log("iname: " +  eqmodules[i]['name'] );
        	console.log("rfstatus: " +  eqmodules[i].rfstatus );
       }
}
$('.eqLogic[data-eqLogic_uid=#uid#] .na_comState').empty().html(extext);
  </script>
  </div>
  
  </center>
    
</div> <!--  Fin Pan_two ******* --> 
</div>
  <!--  eq_body  *****************************************************************-->


 
   


<div class="table_bottom" style="">
	<table style="position:absolute; right:0px; bottom:0px; width: 100%; height:" cellspacing="0" cellpadding="0" border="0">	
	<tr style="height: 22px;">
			<td class="td_bot12" style="width: 18px; text-align: left;">
				<span class="infcmd pull-left cursor" id="infcmd" title='Autres infos' style="margin-left:3px">
					<i class="icon fas fa-info-circle infcmd_ico" style="color:#background-color#!important"></i>
  				</span>
                
              	<div class="infhtm" style="display: none"> 
					 <div class="cmd cmd-widget">
                         <div class="content-xs">
                             <span class="cmdName">roomType: </span> 
                             <strong class="DeviceName">#roomType#</strong>
                         </div>
                     </div>
                        <br/>
					<div class="cmd cmd-widget">
						<div class="content-xs">
							<span class="cmdName">macAddress: </span> 
                            <strong class="macAddress">#macAddress#</strong>
                        </div>
                    </div>
                    <br/>
                    <div class="cmd cmd-widget">
                        <div class="content-xs">
                           	<span class="cmdName">Tentatives échouées: </span> 
                            <strong class="lastCom">#UpNumberFailed#</strong>
                        </div>
                    </div>
               	</div>
			</td>
			<td class="td_bot2" style="text-align: center;"></td>
			<td class="td_bot3" style="width: 18px;text-align: right;">
				<i class="fas fa-retweet cursor tooltips changecmd noRefresh" title='Changer commandes' style="margin-right: 3px;"></i>
			</td>
	</tr>
	
		<script>
		
        if ('#UpNumberFailed#' == 0 || '#UpNumberFailed#' == ('#' + 'UpNumberFailed#')) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico').removeAttr( 'style' );
        }else if ('#UpNumberFailed#' >= 3) {
			$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico').attr('style', 'color : #C37D28!important');
        } else if('#UpNumberFailed#' >= 60 || '#eqstate#' != 'ok') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd_ico').attr('style', 'color : #B93A3E!important');
		}	
		$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').off('click', function (){			
        	console.log('off');
        });		
                  
        $('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click',function () {
			$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_two').toggle();
			$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_one').toggle();
		});
					
	</script>
	</table>		
	
</div>
<!-- fin table_bottom    -->


	
</div>
<!-- Fin eqLogic-widget  -->