<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #custom_layout# #eqLogic_class#"
	style="min-height: 158px;min-width:350px; position: relative; width:#width#; height:#height#; background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
	data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" 
	data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
  
  <link rel="stylesheet" nonce="" href="plugins/naEnergie/core/template/dashboard/src/naEnergie.css">
 <style>
	span.active {
		color: rgba(var(--cat-heating-color), var(--opacity)) !important;
	}
	a.btn.active {
		 background-color: rgba(var(--cat-heating-color), 0.5) !important;
	}
	i.cursor.alerte {
		color: red !important;
	}
	
	.icon_blue { color: rgba(var(--cat-energy-color), var(--opacity)) !important; }
	[data-category=heating]>.actie {color: rgba(var(--cat-heating-color), var(--opacity))!important;}
   
   
@font-face {
    font-family: "Digital-7";
    src:  url("plugins/widget/core/template/dashboard/cmd.info.numeric.HygroThermographe_TaG/font/digital-7.eot?") format("eot"),
          url("plugins/widget/core/template/dashboard/cmd.info.numeric.HygroThermographe_TaG/font/digital-7.woff") format("woff"),
          
    font-weight:normal;
    font-style:normal;
	}


@font-face{
	font-family:NetatmoStarckReg;src:url(plugins/naEnergie/core/template/dashboard/font/NetatmoStarckReg.woff) format('woff')
	}
	
input.dial{
    font: NetatmoStarckReg; 
	letter-spacing: 1px;
	
   
	}	
	
span.valcons {
    font-family: NetatmoStarckReg; 
	letter-spacing: 2px;
	
   
	}
span.unittemp{
    font-family: "NetatmoStarckReg"; 
  	font-size : 1em; 
  	//font-weight: bold
    letter-spacing: 0px;
    
    
    transform : scale(0.7,1);
	-webkit-transform:scale(0.7,1); /* Safari and Chrome */
	-moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9+ */
	-o-transform:scale(0.7,1); /* Opera */
	}

span.natemp {
    font-family: "NetatmoStarckReg"; 
  	font-size : 1.8em; 
  	font-weight: bold
    //font-size:80px;
    letter-spacing: 2px;
    //color: 	#181818;
    //position: absolute;
    
    transform : scale(0.7,1);
	-webkit-transform:scale(0.7,1); /* Safari and Chrome */
	-moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9+ */
	-o-transform:scale(0.7,1); /* Opera */
	}

input.dial {
     font-family: "NetatmoStarckReg"; 
    font-size : 1.8em;
  	width:100;
    letter-spacing: 2px;
    //color: 	#181818;
    //position: absolute;
    
    transform : scale(0.7,1);
	-webkit-transform:scale(0.7,1); /* Safari and Chrome */
	-moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9+ */
	-o-transform:scale(0.7,1); /* Opera */
	}

span.nowtempf, span.naconsf {
    font-family: "NetatmoStarckReg"; 
    //font-size:80px;
    letter-spacing: 2px;
    //color: 	#181818;
    //position: absolute;
    
    transform : scale(0.7,1);
	-webkit-transform:scale(0.7,1); /* Safari and Chrome */
	-moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9+ */
	-o-transform:scale(0.7,1); /* Opera */
	}
</style>
	
		<script type="text/javascript">
				$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
				});
				
				//$('.eqLogic[data-eqLogic_uid=#uid#]').ready(function() { 
					$(document).ready(function() {
				//var el = $('.eqLogic[data-eqLogic_uid=#uid#]');
				//$(this).stopPropagation();
			   // $(this).preventDefault();
				
				var catcolor = $('.eqLogic[data-eqLogic_uid=#uid#] .widget-name').css('background-color') + ' !Important';
				var catcolor_a = catcolor.replace(')', ', 0.5)').replace('rgb', 'rgba');
				
				//console.log("catcolor_a_#uid#: " + catcolor_a);
				$('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').attr('data-cat_color', catcolor);				
				eq_width = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').css('width');
				eq_height = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').css('height');
				cat_color = $('.eqLogic[data-eqLogic_uid=#uid#]').closest('.eqLogic-widget').attr('data-cat_color');
				
				//console.log("eq_width: " + 'data-cat_color');
				//console.log("cat-color: " + cat_color + catcolor + catcolor_a);
				if ('#DefaultBgColor#' == "1" || '#DefaultBgColor#' == "") { 
					//$('.eqLogic[data-eqLogic_uid=#uid#]').css('background-color', 'rgba(86, 120, 182, 0.3)!important');
					 
				}else{
					//$('.eqLogic[data-eqLogic_uid=#uid#]').css('background-color', '#background-color#!important');
				}
	});
		</script>
	

	<span class="cmd refresh pull-right cursor" title='Rafraîchir'>
		<i class="fas fa-sync"></i>
	</span>	
	
		<center class="widget-name">
          
          <span class="cmd #heatstatus_history# pull-left cursor" title="Chaudière arrêtée"  data-cmd_id='#heatstatus_id#' style="margin-top: 5px; margin-left: -5px;color:#3498db;">
		<i class="icon jeedom-feu"></i>
	</span>	
	
           <span class="cmd anticipation pull-left cursor" title="Pas d'anticipation en cours"  data-cmd_id='#heatstatus_id#' style="margin-top: 5px; margin-left: 3px;color:#3498db;">
		<i class="icon jeedomapp-playerplay "></i>
	</span>	
          
      		
			
          
          	<span class="reportModeVisible" style="display:none;color:white;">#object_name#</span>
			<a href="#eqLink#" class="reportModeHidden" style="margin-right: 25px;">#name_display# </a>
			<!--
			<div class="updateprogr" style="position:absolute; right:55px; top:-1px;">
				<span class="statusCmd" style="" ></span>
			</div>			
				-->		
		</center> 
			
		<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
				
					
				<span class="cmd cmd-widget" data-cmd_id="#homeAuto_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#roomAuto_id#" style="display:none;"></span>
				
                
                <span class="cmd cmd-widget" data-cmd_id="#away_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#off_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#endtime_change#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#planning_change#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#consigneset_id#" style="display:none;"></span>
				
				<span class="cmd cmd-widget" data-cmd_id="#hg_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#hwboost_id#" style="display:none;"></span>	
				<!-- <span class="cmd cmd-widget" data-cmd_id="#hg_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#max_id#" style="display:none;"></span>
				   <span class="cmd cmd-widget" data-cmd_id="#homeAuto_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#roomAuto_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#consigneset_id#" style="display:none;"></span>
						
				   -->

	
  



	
<div class="eq_body" style="width: 100%;  margin-top: 5px">	
	<table style="width: 100%; background-color: transparent !important;" border="0">
		<tr>
		<!-- col1-->
		<td style="width: 60%">
		<div class='col1' style='min-width:210px; height:'>
	    <center style='margin-top: -2px'>
			
			
		
		
		
		<br/>
            
          <i class="fas fa-cog roomAuto cursor tooltips" title="Piéce en mode automatique" style="font-size: 1.6em;margin-left: 5px;color:"></i>
					
					<i class="icon jeedom2-home homeAuto cursor tooltips" title="Home en mode automatique" style="font-size: 1.6em;margin-left: 2px;color:"></i>
					<i class="icon jeedom-mouvement away cursor tooltips" title="Mettre la piéce en mode absent" style="font-size: 1.6em;margin-left: 2px;color:"></i>
					<i class="icon nature-snowflake hg cursor tooltips" title="Mettre le thermostat en mode hors-gel" style="font-size: 1.6em;margin-left: 5px;color:"></i>
					<i class="fas fa-power-off off cursor tooltips" title="Eteindre le thermostat" style="font-size: 1.5em;margin-left: 5px; top: 2px; color:"></i>
          
          
          </center>
				
				
		<!--<span class="zprofil tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;"  title="Profile en cours"></span>
                <br/>
                <span class="zplanning tooltips" style="cursor:default;font-size: 0.9em;position: relative;top: -2px;left: 5px;"  title="Planning en cours"></span>
				--> 
				
				<!-- planing et profiles --> 
				
	    <div class="infoz" style="height: 36px; display : block;position: relative; bottom: 0px;margin-top: 5px">
			
          	 <span class="zprofil tooltips" style="cursor:default;font-size: 0.9em;margin-left: 5px;margin-top: 5px;"  title="Profile en cours"></span>
                <br/>
                <span class="zplanning tooltips" style="cursor:default;font-size: 0.9em;position: relative;top: -2px;left: 5px;"  title="Planning en cours"></span>
	    </div>
               
	    

		<script>
		    var catcolor = $('.eqLogic[data-eqLogic_uid=#uid#] .widget-name').css('background-color')+'!Important';
		    var catcolor_a = catcolor.replace(')', ', 0.5)').replace('rgb', 'rgba');
		    //console.log("cat-color10: "  + catcolor_a);    
		    $('.eqLogic[data-eqLogic_uid=#uid#] .manoff').on('click', function(){
				jeedom.cmd.execute({id: '#manoff_id#', value: {'manoff': 'false'}});
			});
		    
          $('.eqLogic[data-eqLogic_uid=#uid#] .hgoff').on('click',function(){
					jeedom.cmd.execute({id: '#homeAuto_id#'});
			});
          
          	$('.eqLogic[data-eqLogic_uid=#uid#] .awayoff').on('click',function(){
					jeedom.cmd.execute({id: '#homeAuto_id#'});
			});
          	$('.eqLogic[data-eqLogic_uid=#uid#] .awayoff').on('click',function(){
					jeedom.cmd.execute({id: '#homeAuto_id#'});
			});
          
          
          
          $('.eqLogic[data-eqLogic_uid=#uid#] .away').on('click', function () {
                jeedom.cmd.execute({id: '#away_id#'});
		    });
		    $('.eqLogic[data-eqLogic_uid=#uid#] .hg').on('click', function () {
			jeedom.cmd.execute({id: '#hg_id#'});
		    });
		    $('.eqLogic[data-eqLogic_uid=#uid#] .roomAuto').on('click', function () {
			jeedom.cmd.execute({id: '#roomAuto_id#'});
		    });
          
          
          
		    $('.eqLogic[data-eqLogic_uid=#uid#] .homeAuto').on('click', function () {
			jeedom.cmd.execute({id: '#homeAuto_id#'});
		    });
		    $('.eqLogic[data-eqLogic_uid=#uid#] .off').on('click', function () {
			if ( '#ecsBoostState#'=='FALSE'){
			    jeedom.cmd.execute({id: '#off_id#', value: {'acthwb': 'true'}});
			} else {
			    //jeedom.cmd.execute({id: '#hwboost_id#', value: {'acthwb': 'false'}});
			}
		    });
           	/////
          if ('#modetech#' == 'away') {//away;hg;max;schedule;off;manuel, datetimepicker, awaypicker
						$('.eqLogic[data-eqLogic_uid=#uid#] .away').addClass('active');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('<i class="fas fa-times-circle-o awayoff cursor tooltips" title="Désactiver le mode Absent" style="font-size: 0.9em;margin-left: 0px;color:red"></i>');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('   Absent <i class="fas fa-arrow-right" style="font-size: 0.9em" title=""></i> ');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append(' <i class=" awaypicker cursor tooltips" title="Choisir Fin..." style="font-size: 0.9em;margin-left: 0px"> #endtime#</i> ');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').css('display', 'block');
						
						
                    } else if ('#modetech#' == 'hg') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .hg').addClass('active');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('<i class="fas fa-times-circle-o hgoff cursor tooltips" title="Désactiver le mode HG" style="font-size: 0.9em;margin-left: 0px;color:red"></i>');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('   Hors-gel <i class="fas fa-arrow-right"></i> ');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('<i class=" datetimepicker cursor tooltips" title="Choisir Fin" style="font-size: 0.9em;margin-left: 0px"> #endtime#</i>');
						
					} else if ('#modetech#' == 'schedule') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .roomAuto').addClass('active');
						$('.eqLogic[data-eqLogic_uid=#uid#] .homeAuto').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('#profil# <i class="fas fa-arrow-right"></i> #endtime# - #nextprofil# ');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zplanning').append('#planning#');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').css('display', 'block');
					} else if ('#modetech#' == 'off') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .off').addClass('active');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('Eteint');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').css('display', 'block');
						
					} else {//if ('#modetech#' == 'manual')
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('<i class="fa techno-fingerprint41 manoff cursor tooltips" title="Désactiver le mode Manuel" style="font-size: 1em;margin-left: 0px;color:red"></i>');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('   Manuel <i class="fas fa-arrow-right"></i> ');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').append('<i class=" datetimepicker cursor tooltips" title="Choisir Fin" style="font-size: 0.9em;margin-left: 0px"> #endtime#</i>');
						$('.eqLogic[data-eqLogic_uid=#uid#] .zprofil').css('display', 'block');
					}
          
          
          
          if (#consigne#>#temperature#) {
							$('.eqLogic[data-eqLogic_uid=#uid#] .chaudiere').addClass('active');
							$('.eqLogic[data-eqLogic_uid=#uid#] .chaudiere').attr("title","Chaudière en chauffe");
					}
					if (#anticipation# == 1) {
							$('.eqLogic[data-eqLogic_uid=#uid#] .anticipation').addClass('active');
							$('.eqLogic[data-eqLogic_uid=#uid#] .anticipation').attr("title","Anticipation en cours");
					}
          
          ///
					
					
					
                </script>
            
	</div>
	<!-- div class='col-xs-6 .1-->	  
			  
			  
		</td>
        <!-- col2-->
        <td colspan="3" style="text-align: right;">
		
	   
	   
		<center>
	    <div class="Pan_one" style="margin-top : 5px; margin-right: 0px; width :;height : 80px;display : block;">
			<div class="room therm-room ">
							<div class="room-setpoint h-relative" >
								<span class="top h-absolute " ></span>
								<span class="right h-absolute " ></span>
								<span class="bottom h-absolute "></span>
								<span class="left h-absolute "></span>
								<p class="naconsent">16<span class="decimal naconsdec">2</span>
								</p>
							</div>
							<div class="room-temperature h-relative">
								<span class="top h-absolute "></span>
								<span class="right h-absolute "></span>
								<span class="bottom h-absolute "></span>
								<span class="left h-absolute "></span>
								<p class="natempent">18<span class="decimal natempdec">0</span>
								</p>
							</div>
							
						
				</div>
          
          </br>
          
          
          <script>
				temperature=parseFloat(Math.round(#temperature# * 10) / 10).toFixed(1);
			</script> 
		<!-- temperature mesurée-->
		   
		    
          <span class="natemp #temperature_history#" data-cmd_id="#temperature_id#"  style="font-size : 2em; font-weight: ;" title="Température mesurée du #temperature_collectDate#">#temperature# °</span>
				<span class="unittemp" style="top:10px; font-size: 1em; color: #fff">°</span>
          <span class="natemp" style="margin-top : -5px ;font-size: 1em; color: #fff">°</span>
          <suptemp style="vertical-align: text-top;font-size: 1em;color: #fff;">°</suptemp>
          
          
          <div style="float: center; margin-top: 0px; width: ; height: ; font-size: 15px; text-align: ; ">
				<i class="icon fas fa-2x fa-minus-square bt_minus cursor" title="Cons-" style="font-size: 1.6em;top: 2px;"> </i>
						  <!--<span style="font-size: 1.6em; margin-right: ;" id="thermo_icon#id#"></span>thermometre-->
				<span class="valcons" style="font-size : 30px; font-weight: ;"></span>
				<span class="unitcons" style="font-size : 15px; font-weight: ;">°</span><!--consigne none-->
						
				<i class="icon fas fa-2x fa-plus-square bt_plus cursor tooltips" title="Cons+" style="font-size: 1.6em;margin-top: 2px;"></i>
			</div>
					
			
			
			<script>
							var cons_Timer#id#;
							var stepTemp = '0.5';
							
							/***** Init *****/
							$('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text( parseFloat(#consigne#).toFixed(1) );
							//setTimeout(cons_updateIcon#id#, 50);
											  
							/***** + *****/
							
							$('.eqLogic[data-eqLogic_uid=#uid#] .bt_plus').on('click', function () {
								if(parseFloat($('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()) < 30){
									//#uid#newcons=$('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()+stepTemp
									console.log(#uid#newcons);
									$('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text( parseFloat(parseFloat($('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()) + 0.5 ).toFixed(1) );
									
									//setTimeout(cons_updateIcon#id#, 50);

									clearTimeout(cons_Timer#id#);
									cons_Timer#id# = setTimeout(cons_Exec#id#, 1500);
								}
							});      
												 
							/***** - $('.cmd[data-cmd_id=#id#]*****/
							$('.eqLogic[data-eqLogic_uid=#uid#] .bt_minus').on('click', function () {
								if(parseFloat($('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()) >= 7.5 && parseFloat($('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()) > #hg_temp#){
									$('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text( parseFloat(parseFloat($('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text()) - stepTemp ).toFixed(1) );
									setTimeout(50);
									
									//setTimeout(cons_updateIcon#id#, 50);

									clearTimeout(cons_Timer#id#);
									cons_Timer#id# = setTimeout(cons_Exec#id#, 1500);
								}
							});
							
							
							/***** Envoi de la nouvelle consigne *****/
							function cons_Exec#id#() {
								jeedom.cmd.execute({id: '#consigneset_id#', value: { 'title': parseFloat( $('.eqLogic[data-eqLogic_uid=#uid#] .valcons').text() )}});
							}
						  </script> 			
                 				  
		</div>
        <!-- div class='Pan_one-->  
          
		
		<div class="Pan_two" style="display: none; width: 100%; height: 100px; margin-top: 0px">
			
				<!--  com state -->
				<div class="vtcomstate" >
					<i class="fas fa-signal #wifistatus_history# tooltips" data-cmd_id="#wifistatus_id#" style="font-size : 0.9em;"  title="Signal Wifi"> </i> 
					<span style="font-size: 0.9em">#wifistatus#</span> 
					<i class="fas fa-rss #rfstatus_history# tooltips" data-cmd_id="#rfstatus_id#" style="font-size : 0.9em;"  title="Signal radio"> </i> 
					<span style="font-size: 0.9em">#rfstatus#</span> 
					<i class="fas fa-battery-full #batterie_history# tooltips" data-cmd_id="#batterie_id#" style="font-size : 0.9em;"  title="Niveau de batterie"> </i> 
					<span style="font-size: 0.9em">#batterie#</span>
				</div>
				    
				<style>
					.dropdown-menu.selectPlanning {
						position: absolute;
						width: auto !important;
						#box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
						#border: 1px solid;
						z-index: 99;
						background-color: var(--btn-default-color) !important;
						#height: auto;max-height: 90px; width: 90px; overflow-x: hidden;
					}
					
					.dropdown-menu.selectPlanning option {
						
						background-repeat: no-repeat;
						padding-left: 5px;
						height : 20px;
						#background-color: none;
						#rgba(var(--cat-heating-color), 1) !important;
						#color: white;
					}
					.dropdown-menu.selectPlanning option[selected] {
						background-color: rgba(var(--cat-heating-color), 1) !important;
					}
					.dropdown-menu.selectPlanning option:not([selected]):hover {
						background-color: DodgerBlue !important;   /*#2980B9 !important;*/
					}
					.div_planingselect .dropdown-toggle {
						width: 120px !important;
					}
					

					</style>
					
			<div class="vtplaning" >
				<div class="dropdown div_planingselect" data-type="action" data-subtype="select" data-cmd_id="#planningset_id#" data-version="#version#"  title="Planning">
        
					<a id="btnGroupDrop1" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  #planning# <span class="hidden-sm hidden-md"></span><span class="caret"></span>
					</a>
					<div class="dropdown-menu selectPlanning" role="menu" aria-labelledby="btnGroupDrop1">#planning_selector#</div>
				
					 
					
					<script>
					$('.div_planingselect').on("show.bs.dropdown", function(event){
						//event.stopPropagation();
						//event.preventDefault();
						var dropMenu = $(event.target).find('.dropdown-menu');
						var cible = $(event.target);
						var eOffset= cible.offset();
						//console.log(eOffset.top + $(event.target).outerHeight())
						//console.log(dropMenu.attr('role'))
						$('body').append(dropMenu.detach());
						dropMenu.css({
							'display': 'block',
							'width': '100px',
							//'top': eOffset.top + cible.outerHeight(),
						   // 'left': eOffset.left,
							//'position': 'static'
						});
						dropMenu.position({                           
						  'my': 'left top',                            
						  'at': 'left bottom',                         
						  'of': cible                      
						});
						$(event.target).on('hide.bs.dropdown', function (event) {
							cible.append(dropMenu.detach());
							dropMenu.hide();
						});
					});
	////////////////////////////
							
					el = document.documentElement;
					cat="--cat-#category#-color";
					var catcol = getComputedStyle(el).getPropertyValue(cat);
					opacit = getComputedStyle(el).getPropertyValue("--opacity");
					colorcat = 'rgba(' + catcol + ', ' + opacit + ')';
					
							
					$('.eqLogic[data-eqLogic_uid=#uid#] .selectPlanning option').on('click', function() {
						if(this.text != '#planning#'){
							jeedom.cmd.execute({id: '#planningset_id#', value: {'select': $(this).value()}});
						}
						    
				});
						    
		</script>
				</div>					
			</div>	
									
		</div>
	
	</center>
			
		
		
		<!-- fin div class Pan_two-->
				
                
			
			
			<script>
							
						
						
						////Mode manuel Off
						$(function () {
						$('.eqLogic[data-eqLogic_uid=#uid#] .manoff').on('click',
						    function(){
							jeedom.cmd.execute({id: '#consigneset_id#', value: {'manoff': 'false'}});
						    }
						)});
						////Mode Away Off
						$(function () {
						    $('.eqLogic[data-eqLogic_uid=#uid#] .awayoff').on('click',
							function(){
							    jeedom.cmd.execute({id: '#away_id#', value: {'awayact': 'false'}});
							}
						)});
						
                        ////////////
						
						
						$(function () {
							$.datetimepicker.setLocale('fr');
							//css('background-color', +catcolor_a+' !important');
						$('.eqLogic[data-eqLogic_uid=#uid#] .profilpicker').datetimepicker({
								step: 15,
								//theme:'dark',
								startDate: '0',
								minDate: '0',
								maxDate:'+1971/01/02',
								//minTime: '0',
								todayButton:'true',
								//format:	'd/m/Y H:i',
								//formatDate:	'd/m/Y',
								//onChangeDateTime
								onSelectTime:function(dp,$input){
								//onChangeDateTime:function(dp,$input){
									jeedom.cmd.execute({id: '#dureeset_id#', value: {'message': $input.val()}});
								}
							});
							$('.xdsoft_datepicker').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
							$('.xdsoft_time_variant').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
							$('.xdsoft_datetimepicker').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
							$('.xdsoft_time_box').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
							$('.xdsoft_time').attr('style', 'background-color: #2a2e33 !important; background: #2a2e33 !important');
						
						
							
							});
						
						//////////////////
					
                    
					$(function () {
							$.datetimepicker.setLocale('fr');
							$('.eqLogic[data-eqLogic_uid=#uid#] .awaypicker').datetimepicker({
								step: 15,
								//theme:'dark',
								startDate: '0',
								minDate: '0',
								maxDate:'+1971/01/02',
								//minTime: '0',
								todayButton:'true',
								//format:	'd/m/Y H:i',
								//formatDate:	'd/m/Y',
								onSelectTime:function(dp,$input){
								jeedom.cmd.execute({id: '#away_id#', value: {'awayact': 'true','dendaway': $input.val()}});  
								
								}
							});
							$('.xdsoft_datepicker').attr('style', 'background-color: #fff !important; background: #fff !important');
							$('.xdsoft_time_variant').attr('style', 'background-color: #fff !important; background: #fff !important');
							$('.xdsoft_datetimepicker').attr('style', 'background-color: #fff !important; background: #fff !important');
							$('.xdsoft_time_box').attr('style', 'background-color: #fff !important; background: #fff !important');
							$('.xdsoft_time').attr('style', 'background-color: #fff !important; background: #fff !important');
						});
				
						                
						</script>
						
					
			
			
			
			<!--<i class="fas fa-retweet cursor tooltips changecmd noRefresh" title="Changer commandes" 
			style="position : absolute; bottom: 3px; right: 3px;z-index: 0;"></i>-->
		
			 
		
	   
      	</td>
        </tr>
      
    </table>
</div>	
 	
	
	
	
	
	
	

	
		
	
	
<table  style="position:absolute; right:0px; bottom: 0px; width: 100%; height:22px !important; background-color: transparent !important;">	
		
		<tr style="">
			<td class="td_bot1" style="width: 60%; text-align: left;">
				<span class="hwstate tooltips"  style="cursor:default; font-size: 0.9em; margin-left: 5px;"><!-- margin-left: 5px;  -->
				</span>
				<script>
					//////////ECS Boost OFF	
					if ( '#ecsBoostState#'=='FALSE'){
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwboost').css;('color', '');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('Ecs Boost Off ');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('   <span class=" ecstemepicker cursor tooltips" title="modifier la T°" style="font-size: 1em;margin-left: 0px">T: #ecstemp# °C  </span> ');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').css('display', 'block');
					} else if ( '#ecsBoostState#'=='TRUE') {
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwboost').addClass('active');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('<span class="fas fa-times-circle hwoff cursor tooltips" title="Eteindre ECS" style="font-size: 1em;margin-left: 0px;color:red"></span>');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('   EcsBoost  ');
								
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('   <span class="fas fa-arrow-right" style="font-size: 0.8em" title=""></span>   ');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('  <span class=" ecspicker cursor tooltips" title="modifier l\'heure..." style="font-size: 1em;margin-left: 0px"> #ecsBoostEndtime#</span> ');
                      			$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').append('   <span class=" ecstemepicker cursor tooltips" title="modifier la T°" style="font-size: 1em;margin-left: 0px">T: #ecstemp# °C  </span> ');
								$('.eqLogic[data-eqLogic_uid=#uid#] .hwstate').css('display', 'block');
					} 
					$('.eqLogic[data-eqLogic_uid=#uid#] .ecstemepicker').on('click', function () {
									$('.eqLogic[data-eqLogic_uid=#uid#] .ecsslidz').toggle();
									$('.eqLogic[data-eqLogic_uid=#uid#] .infoz').toggle();
								});
							//////////////////////////
							$(function () {
									$('.eqLogic[data-eqLogic_uid=#uid#] .hwoff').on('click',
											function(){
												jeedom.cmd.execute({id: '#hwboost_id#', value: {'acthwb': 'false'}});
											}
							)});
							$('.eqLogic[data-eqLogic_uid=#uid#] .ecspicker444').datetimepicker({
								datepicker: false,
								step: 15,
										
								//format:	'd/m/Y H:i',
								//formatTime:'H:i',
								//theme:'dark',
								//minTime: '0',
								
								onSelectTime:function(dp,$input){
									jeedom.cmd.execute({id: '#hwboost_id#', value: {'acthwb': 'true','dendecs': $input.val()}});  
								}
							});
						$(function () {
							$.datetimepicker.setLocale('fr');
							$('.eqLogic[data-eqLogic_uid=#uid#] .ecspicker').datetimepicker({
								datepicker: false,
								step: 15,
								//theme:'dark',
								//startDate: '0',
								//minDate: '0',
								//maxDate:'+1971/01/02',
								//minTime: '0',
								//todayButton:'true',
								//format:	'd/m/Y H:i',
								//formatDate:	'd/m/Y',
								onSelectTime:function(dp,$input){
									jeedom.cmd.execute({id: '#hwboost_id#', value: {'acthwb': 'true','dendecs': $input.val()}});  
								}
							});
							$('.xdsoft_timepicker').attr('style', 'background-color: #191919 !important; background: #2a2e33 !important');
							$('.xdsoft_time_variant').attr('style', 'background-color: #191919 !important; background: #2a2e33 !important');
							$('.xdsoft_time_box').attr('style', 'background-color: #191919 !important; background: #2a2e33 !important');
							$('.xdsoft_time').attr('style', 'background-color: #191919 !important; background: #2a2e33 !important');
						});
						
							
				</script>
			</td>
			<td class="td_bot2" style="text-align: right;">
				<span class="sysmodes cursor tooltips"  style="font-size : 0.9em;" title='Mode Chaudiére' ><!-- #background-color# -->
				</span>

				<script>
					$('.eqLogic[data-eqLogic_uid=#uid#] .sysmodes').on('click', function () {
						$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_two').toggle();
						
						
						//setTimeout(function () {}, 4000);
						$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_one').toggle();
					});
				</script>
			</td>
			<td class="td_bot3" style="width: 22px; text-align: center;">
				 <!-- 
					 <tr style="height: 22px; position:absolute; right:0px; bottom:0px; width: 100%; border-radius:#border-radius#; color: #color#; #style#">
					 info autres    -->
					<i class="fas fa-info-circle cursor tooltips infcmd" title='Autres infos' style="margin-left: 0px; font-size: 0.9em;"  >
					</i>
								
					
			</td>
			<td class="td_bot4" style="width: 22px; text-align: right;">
					<i class="fas fa-retweet cursor tooltips changecmd noRefresh" title='Changer commandes' style="margin-right: 3px;"></i>
			</td>
		</tr>
	
				<script>
						
					if ('#UpNumberFailed#' >= 3) {
						$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').addClass('alerte');
					} 
					//**************************************//	
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').on('click', function () {
						$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover({
							container: "body",
							html: true,
							placement: "auto",
							selector : true,
							//title: false, //"<strong>Liste des équipements</strong>",
							content: function () {return $('.eqLogic[data-eqLogic_uid=#uid#] .infhtm').html(); } ,
							
						})
							.on("show.bs.popover", function () { 
								$(this).data("bs.popover").tip()
								.css({
									"max-width": "500px",
									"max-height":  "400px",
									//overflow: "auto",
									"overflow-y": "auto",
									"background-color": "#474646",//'background-color',
									"background": "#474646",
								
								}); 
								setTimeout(function () {
									$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover('hide');
								}, 8000);
							});
						$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover('show'); 
					});
					
					$('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click',function () {
						$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_two').toggle();
						$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_one').toggle();
					});
					////fas fa-info-circle
					$('.eqLogic[data-eqLogic_uid=#uid#] .autreinfo').on('click', function() {
						 jeedom.cmd.execute({id: '#nightmodeon_id#'});
					});
					</script>
		</table>		
	
	<div class="infhtm" style="display : none; background-color: #background-color#;"> 
						<span class="offset" data-cmd_id='#offset#' 
							style="font-size : 0.9em; display : block" title="offset Values">Offset: 
							<span class="#offset_history# label label-default tooltips" style="font-size : 1em">#offset# °</span>
						</span>
						<br>
						<span class="curve" data-cmd_id='#curve#' 
							style="font-size : 0.9em; display : block" title="curve Values">Courbe Chauffage: 
							<span class="#curve_history# label label-default tooltips" style="font-size : 1em">#curve#</span>
						</span>
						<br>
						<span class="boileron" data-cmd_id='#boileron_today#' 
							style="font-size : 0.9em; display : block" title="Boiler On Values">Durée On aujourd'hui: 
							<span class="boilerOn__cmdi  label label-default tooltips" style="font-size : 1em">#boileron_today#</span>
						</span>
						<br>
						<span class="boileroff" data-cmd_id='#boileron_yest#' 
							style="font-size : 0.9em; display : block" title="Boiler OFF Values">Durée On hier: 
							<span class="boileroff_cmdi label label-default tooltips" style="font-size : 1em">#boileron_yest#</span>
						</span>
						<br>
						<span class="flowsetpoint" data-cmd_id='#gazhier#' 
							style="font-size : 0.9em; display : block" title="flow setpoint Values">Conso Gaz hier: 
							<span class="#flowsetpoint__cmdi label label-default tooltips" style="font-size : 1em">#gazhier# kWh</span>
						</span>
						<br>
						<span class="flowsetpoint" data-cmd_id='#elechier#' 
							style="font-size : 0.9em; display : block" title="flow setpoint Values">Conso Elec hier: 
							<span class="#flowsetpoint__cmdi label label-default tooltips" style="font-size : 1em">#elechier# kWh</span>
						</span>	
					</div>
	
	
	
	
	
	
	
	
	
</div>
<!-- Fin eqLogic-widget  -->